@tailwind base;
@tailwind components;
@tailwind utilities;


.slider-image {
  aspect-ratio: 16 / 9;
  transition: 1s ease;
}

.slide-image-active {
  width: 300px;
  aspect-ratio: 16 / 9;
  cursor: default;
}

.image-wrapper {
  transition: .8s ease;
  width: 300px;
  aspect-ratio: 16 / 9;
  display: grid;
  place-items: center;
}


@media (max-width: 768px) {

  .slider-controls {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%)  ;
    justify-content: space-between;
    width: 260px;
    height: 300px;
    scale: 1;
  }


  .image-wrapper {
    transition: .8s ease;
    max-width: 225px; 
    aspect-ratio: 16 / 9;
    display: grid;
    place-items: center;
  }

  .slider-image {
    width: 150px;
    aspect-ratio: 16 / 9;
  }

  .slide-image-active {
    width: 200px;
    aspect-ratio: 16 / 9;

  }

  .left,
  .right {
    scale: 1.5;
    transform: scaleY(1.3);
  }
}